body {
    position: relative;
  }

#popup{
    position: fixed;
    top: 15px;
    right: 10px;
    z-index: 230;
    box-shadow:0 5px 20px rgba(0, 0, 0, 0.8);
    background-color: white;
}
#popup a{
    height: 90%;
}
#popup a img{
    width: 500px;
    height: 100%;
}
.close, .close2{ /* 닫기버튼 */
    font-size: 35px;
    font-weight: bold;
    color: black;
    position: absolute;
    right: 25px;
    top: 0;
    height: 50px;
    cursor: pointer;
    z-index: 1000;
}
.close2{
    font-weight: 100;
}
.close:hover{
    color: #39c7ff;
}
#full {
    height: 100%;
    width: 100%;
    position: relative;
    touch-action: none;
}
.section {
    width: 100%;
    height: 100%;
    position: relative;
    color: #ffffff;
    font-size: 24px;
    z-index: 10;
}
.page8{
    background-color: white;
    padding-top: 150px;
}
.secttionW{
    width: 100%;
}
.isScroll{
    overflow-y: scroll;
    height: 88%;
}
.isScroll::-webkit-scrollbar{
    width: 10px;
}
.isScroll::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    border-right: 3px solid #ffffff00;
  }
.isScroll::-webkit-scrollbar-track {
    background-color: rgb(219, 219, 219);
    box-shadow: inset 0px 0px 5px white;
  }
.footconnectW{
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 150px;
}
.footCon{
    padding: 60px 0;
    text-align: center;
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;    
    border-top: 1px solid #ccc; 
}

.footCon h2,
.mailinput h2{
    font-size: 21px;
    font-weight: 200;
    padding: 0;
    margin: 0 0 20px;
    color: #333;
}
.mailinput p{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
}
.meilbox {
    margin-bottom: 20px;
}
.meilbox input, .meilagree select {
    width: 100%;
    vertical-align: top;
    margin: 10px 0 0;
    background: #FFF;
    border: 1px solid #eee;
    font-size: 13px;
    padding: 5px;
}
.meilagree input{
    float: left;
    display: none;
}
#a, #b{
    display: inline;
    margin-top: 3px;
    color: red;
}
.meilagree label{
display: inline-block;
width: 100%;
padding: 5px 0 15px;
margin-left: 0;
}
.meilagree label span{
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid #ccc;
    background: #fff;
    margin-top: 3px;
    vertical-align: top;
    box-sizing: border-box;
}
.meilagree input[id='in']:checked + span{
    background-color: #666;
}
.meilagree label p {
    display: inline-block;
    margin: 0px 5px 10px;
    vertical-align: top;
}
.meilagree label p a{
    border-bottom: 1px solid #333;
}
.meilagree label p a:hover{
    color:#414141;
}
button.emilbtn{
    color: white;
    background-color: #6BBAC9;
    border: 1px solid #6BBAC9;
    box-sizing: border-box;
    padding: 11px 30px;
    letter-spacing: 1.5px;
    line-height: 0.8rem;
    display: inline-block;
}
button.emilbtn:hover{
    color:  #6BBAC9;
    background-color: white;
    border: 1px solid #6BBAC9;
    box-sizing: border-box;
    padding: 11px 30px;
    letter-spacing: 1.5px;
    line-height: 0.8rem;
    display: inline-block;
}
.footlast{
    background: #6BBAC9;
    color: #fff;
    padding: 30px 0 0px;
}
.footer{
    width: 100%;
    margin: 0 auto;
}
.footend{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 70px;
}
.footUl{
    overflow: hidden;
    width: 100%;
    padding: 10px 0;
}
.footUl li{
    display: inline-block;
}
.fTitle{
    font-size: 12px;
    padding: 10px 0;
    font-weight: bold;
    display: inline-block;
}

 div > div.footend > ul > li{
    float: left;
    width: 25%;
    padding-left: 30px;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 300
}
.fooUl_ul li{
    padding: 5px 0;
    display: block;
    font-weight: 400;
}
.fooUl_ul li a{position:relative;}
.fooUl_ul a:hover::after{
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    transform: translateY(3px);
}

.end{
    margin: 0 150px 30px 150px;
}
.end p{
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    padding: 15px;
    padding-bottom: 30px;
    border-top: 1px solid #eee;
}
